# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
cities_df = pd.read_csv("output_data/cities.csv")
cities_df.head()

,Unnamed: 0,Latitude,Longitude,City,Temp,Humidity,Wind Speed,Cloudiness,Date
0,0,52.52,13.41,berlin,57.20,93.0,13.87,75.0,1.604077e+09
1,1,41.51,122.72,liaozhong,41.00,48.0,4.47,0.0,1.604077e+09
2,2,10.15,-85.45,nicoya,84.20,79.0,6.93,40.0,1.604077e+09
3,3,-0.74,-90.35,puerto ayora,78.80,69.0,19.46,40.0,1.604077e+09
4,4,27.98,-114.06,guerrero negro,74.86,37.0,2.28,24.0,1.604077e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [8]:
locations = cities_df[["Latitude", "Longitude"]].astype(float)
humidity = cities_df["Humidity"].astype(float)
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [21]:
vaca_df = cities_df.loc[(cities_df["Temp"]<82) & (cities_df["Temp"]>74) & (cities_df["Wind Speed"]<10)&
                        (cities_df["Cloudiness"]==0)]
vaca_df
vaca_df.dropna(how="any")

,Unnamed: 0,Latitude,Longitude,City,Temp,Humidity,Wind Speed,Cloudiness,Date
37,43,13.17,44.58,lahij,77.47,72.0,7.61,0.0,1.604077e+09
253,513,21.64,69.61,porbandar,81.70,52.0,1.97,0.0,1.604077e+09
310,653,22.57,59.53,sur,74.73,66.0,5.06,0.0,1.604077e+09
361,771,24.69,46.72,riyadh,75.20,29.0,3.36,0.0,1.604077e+09
397,865,17.02,54.09,salalah,80.60,61.0,3.36,0.0,1.604077e+09
559,1397,-16.23,39.91,angoche,79.84,74.0,9.98,0.0,1.604077e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [26]:
hotel_df["Hotel Name"] = "Hotel Name"
hotel_df.head()

,Unnamed: 0,Latitude,Longitude,City,Temp,Humidity,Wind Speed,Cloudiness,Date,Hotel Name
37,43,13.17,44.58,lahij,77.47,72.0,7.61,0.0,1.604077e+09,Hotel Name
253,513,21.64,69.61,porbandar,81.70,52.0,1.97,0.0,1.604077e+09,Hotel Name
310,653,22.57,59.53,sur,74.73,66.0,5.06,0.0,1.604077e+09,Hotel Name
361,771,24.69,46.72,riyadh,75.20,29.0,3.36,0.0,1.604077e+09,Hotel Name
397,865,17.02,54.09,salalah,80.60,61.0,3.36,0.0,1.604077e+09,Hotel Name

In [35]:
hotel_rate = hotel_df["Hotel Name"].tolist()

In [39]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>

</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

#<dt>Country</dt><dd>{Country}</dd> (I didn't use country)

In [41]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=[f"Hotel Name: {hotel}" for hotel in hotel_rate]
)


fig = gmaps.figure()
fig.add_layer(hotel_layer)

fig

# Display figure
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))